<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，用于隔离sql，还有一个很重要的作用，后面会讲 -->
<mapper namespace="com.lening.mapper.UserMapper">
    
    <resultMap id="usermap" type="UserBean">
        <id property="id" column="id"/>
        <result property="uname" column="uname"/>
        <result property="pwd" column="pwd"/>
        <result property="birthday" column="birthday"/>
        <result property="address" column="address"/>
        <association property="db" javaType="DeptBean">
            <id property="deptid" column="deptid"/>
            <result property="dname" column="dname"/>
        </association>
        <association property="rb" javaType="RoleBean">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
        </association>
    </resultMap>
    <resultMap id="deptmap" type="DeptBean">
        <id property="deptid" column="deptid"/>
        <result property="dname" column="dname"/>
        <collection property="ubs" javaType="list" ofType="UserBean">
            <id property="id" column="id"/>
            <result property="uname" column="uname"/>
            <result property="pwd" column="pwd"/>
            <result property="birthday" column="birthday"/>
            <result property="address" column="address"/>
        </collection>
        <collection property="rbs" ofType="RoleBean" javaType="list">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
        </collection>
    </resultMap>
    <resultMap id="rolemap" type="RoleBean">
        <id property="rid" column="rid"/>
        <result property="rname" column="rname"/>
        <association property="db" javaType="DeptBean">
            <id property="deptid" column="deptid"/>
            <result property="dname" column="dname"/>
        </association>
        <collection property="pbs" javaType="list" ofType="PowerBean">
            <id property="id" column="id"/>
            <result property="pid" column="pid"/>
            <result property="pname" column="pname"/>
        </collection>
    </resultMap>
    <select id="getUserByName" parameterType="String" resultType="UserBean">
      select * from t_user where uname = #{uname}
    </select>
    <update id="updateRoleDept">
        update t_role set deptid=#{deptid} where rid=#{rid}
    </update>
    <update id="updateUserRole">
        update t_user set rid=#{rid},deptid=#{deptid} where id =#{id}
    </update>
    <select id="getRoleListByDeptid" resultType="RoleBean" parameterType="int">
      select * from t_role where deptid = #{deptid}
    </select>
    <select id="getUserPowerById" resultType="PowerBean" parameterType="int">
          select d.* from t_user a left join t_role b on a.rid = b.rid
            left join t_r_p c on b.rid = c.rid left  join t_power d
            on c.id = d.id where a.id = #{id}
    </select>
    <insert id="insertRolePower">
        insert into t_r_p(rid,id) values(#{rid},#{id})
    </insert>
    <delete id="deleteRolePowerByRid" parameterType="int">
        delete from t_r_p where rid=#{rid}
    </delete>
    <select id="getRoleByRid" resultMap="rolemap" parameterType="int">
        select * from t_role a left join t_dept b on a.deptid = b.deptid left join t_r_p c on a.rid = c.rid left join t_power d on c.id = d.id
        where a.rid = #{rid}
    </select>
    <select id="getRoleList" resultMap="rolemap">
        select * from t_role a left join t_dept b on a.deptid = b.deptid left join t_r_p c on a.rid = c.rid left join t_power d on c.id = d.id
    </select>
    <select id="getDeptList" resultMap="deptmap">
        select * from t_dept a left join t_user b on a.deptid = b.deptid left join t_role c  on a.deptid = c.deptid
    </select>
    <update id="updateUser" parameterType="UserBean">
        update t_user set uname=#{uname},pwd=#{pwd},birthday=#{birthday},address=#{address} where id=#{id}
    </update>
    <select id="getUserById" parameterType="int" resultMap="usermap">
        select * from t_user a left join t_dept b on a.deptid = b.deptid left join  t_role c on a.rid = c.rid
        where a.id =#{id}
    </select>
    <select id="getUserList" resultMap="usermap">
        select * from t_user a left join t_dept b on a.deptid = b.deptid left join  t_role c on a.rid = c.rid
    </select>
    <select id="getPowerList" resultType="PowerBean">
        select * from t_power
    </select>
</mapper>